.inf{
	display: flex;
	background-color: #5e9e1f30;
	justify-content: space-around;
	padding: 60px;
	height: 800px;
}
p{
	color: #000;
}
.txt_1{
	color: #cbcf92;
	padding-top: 200px;
}
.pic_1{
	width: 14%;
	padding-left: 30px;
}
.pic_2{
	width: 30%;
}
.txt_1{
	max-width: 500px;
}
.img_1{
	width: 400px;
}
.navbar{
 background: #0c450c;
 margin-bottom: -20px;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #0c450c;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.blog{
 margin: 4em 0;
 position: relative; 
}
.blog h1{
 color:#0c450c;
 margin: 2em; 
}
.blog .card{
 box-shadow: 0 0 20px #ccc;
}
.blog .card img{
 width: 100%;
 height: 12em;
}
.blog .card-title{
 color:#0c450c;
  
}
.blog .card-body{
 padding: 1em;
}
.card-text{
	color: black;
}
.card1{

}
.card3{
	padding-bottom: 24px;
}
.txt_main{
color: #ff0000;
font-size: 4em;
padding-bottom: 10px;
}
ю..portfolio{
 margin: 4em 0;
    position: relative; 
}

.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
}
.part{
	text-align: center;
}
.opisanie{
	margin-bottom: 160px;
	margin-top: 160px;
}
.plan{
	margin-top: 20px;
	margin-bottom: 200px;
.class{

}
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}
